[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]

[dev-packages]
plz-cmd = {editable = true,file = "."}
mock = {version = "*", markers = "python_version < '3'"}
more-itertools = {version = "==5.0.0"} # pytest dependency
pathlib2 = {version = ">=2.2.0", markers = "python_version < '3.5'"}
scandir = {version = "*", markers = "python_version < '3.5'"}
pytest = "*"
pytest-cov = "*"
tox-travis = "*"
tox = "*"
twine = "*"
pre-commit = "*"
