[tool.poetry]
name = "plz-cmd"
version = "0.7.0"
description = "command line app for running configurable shell commands"
readme = "README.md"
authors = ["Mike Brown <mike.brown@excella.com>"]
license = "MIT"
repository = "https://github.com/m3brown/plz"
packages = [
    {include = "plz", from="."},
]

[tool.poetry.scripts]
plz = "plz.main:main"

[tool.poetry.dependencies]
python = "^3.5"
colorama = "^0.3"
PyYAML = "^3.0"
sh = "^1.12"

[tool.poetry.dev-dependencies]
pytest = "^5.3"
pytest-cov = "^2.8"
tox = "^3.14"
pre-commit = "^1.21"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
